body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Define your color palette */
:root {
  --primary-color: #3498db;
  --background-color: #f2f2f2;
  --text-color: #333333;
}
